* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {}

.header {}

.container {
    display: flex;
    margin: 0 auto;
    margin-top: 14px;
    width: 1289px;
    height: 114px;
    justify-content: space-between;
    width: 1289px;
    height: 114px;
    border: 1px solid #0150E9;
}

.logo {
    display: flex;
    margin-left: 26px;
    align-items: center;
}

.logo-txt {
    width: 88px;
    height: 30px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.span-logo {
    color: #F25822;
}

.nav {
    display: flex;
    width: 556px;
    height: 40px;
    margin-right: 200px;
    border: 1px solid #20C905;
    margin-top: 26px;
    justify-content: space-between;
}

.header-link {
    padding: 9px 11px 14px 12px;
    display: block;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

.header-link:hover {
    color: #F25822;
}

.main {
    margin-top: 21px;
}

.container-main {
    display: flex;
    margin: 0 auto;
    margin-top: 14px;
    width: 1289px;
    height: 114px;
    justify-content: space-between;
}

.flex-box {
    display: flex;
    width: 1274px;
    height: 536px;
    border: 1px solid #E99C08;
    align-items: flex-start;
    padding: 15px 16px 109px 27px;
}

.main-txt {
    border: 1px solid #BD0EFB;
    padding-left: 40px;
}

.main-headding {
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    width: 522px;
    margin-top: 21px;
}

.main-dsc {
    width: 466px;
    height: 48px;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-top: 17px;
    margin-bottom: 50px;
    width: 466px;
}

.main-pic {
    padding: 30px;
}

.get {
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
}

.button-txt {
    padding: 15px 30px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.watch {
    width: 90px;
    height: 19px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}